# Rename this file to .env and fill in values

# Example: mysql+pymysql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>?charset=utf8mb4
DATABASE_URL=""

# App settings
APP_NAME="Gene API"
APP_ENV="development"
APP_HOST="127.0.0.1"
APP_PORT="9000"
APP_RELOAD="true"

# CORS (comma-separated origins, * for all - not recommended in prod)
CORS_ORIGINS="*"
